<md-dialog aria-label="Organization">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select organization</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-list-item ng-repeat="organization in organizations">

          <p> {{ organization.Organization_Name }} </p>
          <md-checkbox class="md-secondary" ng-model="$scope.organization"></md-checkbox>
        </md-list-item>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">
      <md-button ng-click="$scope.setOrganization()">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
