<md-dialog aria-label="Organization">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select organization</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-radio-group ng-model="organizationSelect" >
          <md-list-item ng-repeat="organization in organizations">
            <md-radio-button flex ng-value="organization" class="md-primary">
              {{organization.Organization_Name}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">
      <md-button ng-click="setOrganization()">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
